<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>URL Shortner</h1>
    <% if (locals.id){ %>
    <p>URL Generate: http://localhost:3000/url/<%= id %></p>
    <%}%>
    <div>
      <form action="/url" method="post">
        <label for="">inter your original URL</label>
        <input type="text" name="url" id="" placeholder="https://example.com" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if(locals.urls) { %>
      <table>
        <thead>
          <th>S.N</th>
          <th>ShortID</th>
          <th>Redirect</th>
          <th>Clicks</th>
          <tbody>
            <% urls.forEach((url, index) => { %>
            <tr>
            <td><%= index + 1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectURL %></td>
            <td><%= url.visitHistory.length %></td>
            <%})%>
            </tr>
          </tbody>
        </thead>
      </table>
      <%}%>
    </div>
  </body>
</html>
