<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <div class="nav mb-10">
        <a href="/" class="text-blue-500">Back to Home</a>
      </div>
      <h1 class="text-3xl mb-3">All Users</h1>
      <div class="users flex gap-3 flex-wrap">
        <% if(users.length >0 ){%> <% users.forEach((user)=>{ %>
        <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
          <div class="w-full h-72 rounded-lg bg-zinc-700 overfliw-hidden">
            <img
              src="<%= user.image%>"
              class="w-full h-full object-cover object-top"
              alt="img"
            />
          </div>
          <h3 class="txt-xl mt-3 tracking-tighter"><%=user.name%></h3>
          <h5 class="text-zinc-500"><%=user.email%></h5>
          <div class="flex gap-3 mt-10">
            <a href="/edit/<%= user._id%>" class="text-zinc-200">Edit User</a>
            <a href="/delete/<%= user._id %>" class="text-red-500"
              >Delete User</a
            >
          </div>
        </div>
        <%})%> <%} else { %>
        <h3 class="text-zinc-500">No Users yet</h3>
        <%}%>
      </div>
    </div>
  </body>
</html>
